@charset "UTF-8";

@font-face {
    font-family: Assassins; 
    src: url('../fonts/Assassin$.ttf');
}
@font-face {
    font-family: Fela;
    src: url('../fonts/Fela.otf');
}
/* SERIE PRINCIPAL */
.serie-principal{
    font-family: Fela, Arial, sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}
/* OUTROS JOGOS */
.outros-jogos{
    font-family: Fela, Arial, sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}
.imagens{
    margin-top: 50px;
    width: 783px;
    height: 440px;
}