@charset "UTF-8";

@font-face {
    font-family: Assassins; 
    src: url('../fonts/Assassin$.ttf');
}
@font-face {
    font-family: Fela;
    src: url('../fonts/Fela.otf');
}
.livros{
    padding: 50px;
}
.nome1{
    font-family: Assassins, Arial, sans-serif;
    font-size: 35px;
    margin-top: 100px;
    clear: both;
}
.nomes{
    font-family: Assassins, Arial, sans-serif;
    font-size: 35px;
    margin-top: 50px;
    padding-top: 100px;
    clear: both;
}
.capas{
    width: 300px;
    height: 430px;
    margin-top: 20px;
    border: 2px solid black;
    float: left;
}
.titulo-conteudo{
    font-family: Fela, Arial, sans-serif;
    font-size: 18px;
    padding-top: 22px;
    padding-left: 350px;
}
.conteudo{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 22px;
    padding-left: 350px;
    padding-right: 200px;
}
@media(min-width: 375px) {
    
    .nome1{
        font-family: Assassins, Arial, sans-serif;
        font-size: 35px;
        margin-top: 100px;
        clear: both;
    }
    .nomes{
        font-family: Assassins, Arial, sans-serif;
        font-size: 35px;
        margin-top: 50px;
        padding-top: 100px;
        
    }
    .capas{
        width: 300px;
        height: 430px;
        margin-top: 20px;
        border: 2px solid black;
        
    }
    .titulo-conteudo{
        font-family: Fela, Arial, sans-serif;
        font-size: 18px;
        padding-top: 22px;
        padding-left: 350px;
    }
    .conteudo{
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 18px;
        padding-top: 22px;
        padding-left: 350px;
        padding-right: 200px;
    }
} 

/* BARRA DE NAVEGAÇÃO ENTRE PÁGINAS */
#troca-pagina{
    font-family: Fela, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(40, 111, 167);
    clear: both;
}
/* ABAS SELECIONADAS EM QUE O MOUSE ESTÁ EM CIMA FICAM EM BRANCO */
.pagina:hover{
    color: white;
}
/*DEIXA A COR DO MENU SELECIONADA NA ABA QUE ESTIVER ABERTA*/
.selecionar{
    color: white;
}
/* DEICA AS ABAS DE NAVEGAÇÃO LADO A LADO */
li{
    display: inline;
}