@charset "UTF-8";

@font-face {
    font-family: Assassins; 
    src: url('../fonts/Assassin$.ttf');
}
@font-face {
    font-family: Fela;
    src: url('../fonts/Fela.otf');
}
body{
    background-color: rgb(138, 138, 138);
}
#fundo {
    background-color: white;
    width: 80vmax;
    height: 300vmin;
    margin: 20vmin;
    box-shadow: 1px 1px 25px #000000;
}
/* TITULO PRINCIPAL DA PAGINA */
#titulo{
    font-family: Assassins, Helvetica, sans-serif;
    font-size: 80px;
    padding-top: 30px;
    padding-left: 50px;
    font-weight: 900;
}
/* SUBTITULO PRINCIPAL DA PAGINA */
#sub-titulo{
    font-family: Assassins;
    font-size: 28px;
    padding-left: 30px;
    padding-left: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-weight: 900;
}
/* MENU DA NAVEGAÇÃO */
.menu-principal {
    font-family: Fela;
    font-size: 20px;
    padding: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(165, 42, 42);
    border-bottom: 2px solid black;
}
/* MENUS ALINHADOS LADO A LADO */
.menu, .menu1 {
    list-style-type: none;
    display: inline;
    margin: 4px;
}
/* ABAS SELECIONADAS EM QUE O MOUSE ESTÁ EM CIMA FICAM EM BRANCO */
.menu:hover{
    color: white;
}
/*DEIXA A COR DO MENU SELECIONADA NA ABA QUE ESTIVER ABERTA*/
.menu1 {
    color: white;
}
/*SEM A COR PADRÃO DOS LINKS E O SUBLINHADO */
a{
    color: inherit;
    text-decoration: none;
}