@charset "UTF-8";

@font-face {
    font-family: Assassins; 
    src: url('../fonts/Assassin$.ttf');
}
@font-face {
    font-family: Fela;
    src: url('../fonts/Fela.otf');
}
article{
    padding: 50px;
}
.noticia{
    margin-top: 100px;
}
.titulo-noticia{
    font-family: Fela;
    font-size: 20px;
    clear:both;
}
.img-noticia{
    width: 350px;
    height: 200px;
    margin-left: 50px;
    border: 2px solid black;
    margin-bottom: 100px;
    float: left;
}
.conteudo{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 450px;
    padding-right: 200px;
}



/* BARRA DE NAVEGAÇÃO ENTRE PÁGINAS */
#troca-pagina{
    font-family: Fela, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(40, 111, 167);
    clear: both;
}
/* ABAS SELECIONADAS EM QUE O MOUSE ESTÁ EM CIMA FICAM EM BRANCO */
.pagina:hover{
    color: white;
}
/*DEIXA A COR DO MENU SELECIONADA NA ABA QUE ESTIVER ABERTA*/
.selecionar{
    color: white;
}
/* DEICA AS ABAS DE NAVEGAÇÃO LADO A LADO */
li{
    display: inline;
}