{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/nav.html' %}
<main>
    <h2 class="serie-principal"><a href="{% url 'serie_principal' %}">Série Principal</h2>
    <h3 class="sub-serie">Aqui estão todos os jogos já lançados da franquia principal.</h3>
    <div style="text-align: center;">
        <img class="imagens" src="{% static '/img/serieprincipal.jpg' %}"></a>
    </div>
    <h2 class="outros-jogos"><a href="#">Outros Jogos</h2>
    <h3 class="sub-outros">Aqui estão os jogos paralelos a franquia já lançados.</h3>
    <div style="text-align: center;">
        <img class="imagens" src="{% static '/img/outrosjogos2.jpg' %}"></a>
    </div>
</main>
{% include 'partials/footer.html' %}
{% endblock content %}